.main-container {
  text-align: center;
  max-width: 617px;
  margin: auto;
}
.btn-delete {
  float: right;
}
.btn-delete:hover {
  background-color: #ffc107;
  border-radius: 20px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 12px;
}
#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}
.source {
  font-size: 0.7rem;
  color: #bebbbb;
}
.source a {
  color: #bebbbb;
  text-decoration: none;
}
.source a:hover {
  color: #ffc107;
  text-decoration: none;
}
body {
  overflow: auto;
}
/* ------ MEDIA QUERIES ------
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */
/* Small devices (portrait phones, 320px and up) */
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
